:host {
  .body-container {
    text-align: center;
    .header {
      border-bottom: 1px solid #f3fbf0;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #f3fbf0;
      margin-bottom: 24px;
      font-size: 38px;
      color: #458d23;
      font-weight: bold;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .todo-wrapper {
      display: flex;
      justify-content: center;
    }
    button {
      margin-left: 8px;
      margin-top: 10px;
      width: 30px;
      height: 30px;
    }
    .renderer {
      background-color: whitesmoke;
      border: 1px solid 3f3f3f;
      min-height: 50vh;
      display: inline-block;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    // mat-checkbox {
    //   --mdc-checkbox-selected-hover-icon-color: #60a829;
    //   --mdc-checkbox-selected-icon-color: #60a829;
    //   --mdc-checkbox-selected-focus-icon-color: #60a829;
    //   --mdc-checkbox-selected-pressed-icon-color: #60a829;
    //   // .mat-mdc-checkbox.mat-accent
    //   //   .mdc-checkbox--selected
    //   //   .mdc-checkbox__ripple {
    //   //   background: none;
    //   //   background-color: #60a829;
    //   // }
    // }
  }
}
